html {
    scroll-behavior: smooth;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    padding: 10px;
    line-height: 1.6;
    color: #2f2f2f;
    background-color: #f1f1f1;
}
header {
    background-color: #538fce;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: white;
    padding: 10px;
    text-align: center;
}
button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #5b7887;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
nav ul {
    list-style-type: none;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    padding: 0;
    text-align: center;
    background-color: #5b7887;
}
nav ul li {
    display: inline;
    margin: 0 10px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
section {
    margin-bottom: 2rem;
    background: white;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 2.5rem;
}
#contact form {
    display: flex;
    flex-direction: column;
    width: 300px;
}
.resume_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    padding-bottom: 2rem;
}
iframe {
    width: 50%;
    height: 917px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
footer {
    text-align: center;
    padding: 1rem;
    background-color: #538fce;
    color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 0.9rem;
}
footer a {
    color: white;
    text-decoration: none;
}
.dark-mode {
    background-color: #000000;
}
.dark-mode header {
    background-color: #232323;
    color: white;
}
.dark-mode nav ul {
    background-color: #4c4c4c;
}
.dark-mode section {
    background-color: #919191;
    color: white;
}
.dark-mode footer {
    background-color: #919191;
}
/* links */
.dark-mode a {
    color: #cce2fc;
}